<!DOCTYPE html>
<html lang="ja">
  <head>
    <script type="text/javascript" src="/js/jquery.min.1.7.js"></script>
    <script
      type="text/javascript"
      src="/js/jquery-ui-1.8.20.custom.min.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.2.5.3.min.js"></script>
    <script type="text/javascript" src="/js/hash.js"></script>
    <link rel="stylesheet" href="/css/docs.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div id="canvas">
      <div id="book-zoom">
        <div class="sample-docs">
          <div class="hard">
            <div id="page1">
              <div class="begin"><p class="begin_text"><a href="#page/2">はじめる</a></p></div>
            </div>
          </div>
          <div id="page2">
          </div>
          <div id="page3">
            <% unless session[:user] %>
              <iframe id="inlineFrame"
                  title="目次"
                  width="471"
                  height="600"
                  src="/pages/mokuji_no.html" frameborder="no">
              </iframe>
              <%# <h1>About</h1>
              <h1>目次</h1>
              <div>
                <p><a href="#page/5">サインイン</a></p>
                <p><a href="#page/7">サインアップ</a></p>
              </div> %>
            <% else %>
              <iframe id="inlineFrame"
                  title="目次"
                  width="471"
                  height="600"
                  src="/pages/mokuji_yes.html" frameborder="no">
              </iframe>
            <% end %>
          </div>
          <div id="page4">
          </div>
          <div id="page5">
            <% unless session[:user] %>
              <form method="post" action="/signin">
                <h1>サインイン</h1>
                <%= session[:error] %>
                <input type="text" placeholder="Username" name="name" />
                <input type="password" placeholder="Password" name="password" />
                <button type="submit">サインイン</button>
                <p><a href="#page/7">サインアップする</a></p>
              </form>
            <% else %>
              <iframe id="inlineFrame"
                  title="目次"
                  width="471"
                  height="600"
                  src="/pages/one_menu.html" frameborder="no">
              </iframe>
            <% end %>
          </div>
          <div id="page6">
            <% unless session[:user] %>
            <% else %>
              <h5>新しい部屋の追加</h5>
              <form action="/create_room" method="post">
                <button type="submit" class="waves-effect waves-light btn">
                  部屋の追加
                </button>
              </form>
              <div class="col s12 m6 <%= @login ? 'l4': 'l6' %>">
                <div class="card">
                  <div class="card-content cyan white-text">
                    <p class="card-stats-title">
                      待機中の部屋
                    </p>
                    <div class="card-doing-games card-games">
                      <table class="cyan lighten-2">
                        <% @rooms.select{|game| game.status == 'waiting'}.each do |room|
                        %>
                        <tr>
                          <td>
                            <p class="left">
                              <%=
                              room.game_users.first.user.name %>
                            </p>
                          </td>
                          <td>
                            <a class="black-text" href="/room/<%= room.id %>"
                              >Room<%= room.id %>へ</a
                            >
                          </td>
                        </tr>
                        <% end %>
                      </table>
                    </div>
                  </div>
                  <div class="card-action cyan darken-1">
                    <div id="clients-bar" class="center-align"></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div id="page7">
            <% unless session[:user] %>
              <form method="post" action="/signup">
                <h1>サインアップ</h1>
                <%= session[:error] %>
                <input type="text" placeholder="Username" name="name" />
                <input type="password" placeholder="Password" name="password" />
                <input placeholder="Password(Retype)" type="password" name="password_confirmation">
                <button type="submit">サインアップ</button>
                <p><a href="#page/5">サインインする</a></p>
              </form>
            <% else %>
            2人用
            <% end %>
          </div>
          <div id="page8">
            <h1>© 2019 Kazuki Isogai.</h1>
          </div>
        </div>
      </div>

    <script type="text/javascript">
      function loadApp() {
        var flipbook = $(".sample-docs");

        // Check if the CSS was already loaded

        if (flipbook.width() == 0 || flipbook.height() == 0) {
          setTimeout(loadApp, 10);
          return;
        }

        // Mousewheel

        $("#book-zoom").mousewheel(function(event, delta, deltaX, deltaY) {
          var data = $(this).data(),
            step = 5,
            flipbook = $(".sample-docs"),
            actualPos = $("#slider").slider("value") * step;

          if (typeof data.scrollX === "undefined") {
            data.scrollX = actualPos;
            data.scrollPage = flipbook.turn("page");
          }

          data.scrollX = Math.min(
            $("#slider").slider("option", "max") * step,
            Math.max(0, data.scrollX + deltaX)
          );

          var actualView = Math.round(data.scrollX / step),
            page = Math.min(
              flipbook.turn("pages"),
              Math.max(1, actualView * 2 - 2)
            );

          if ($.inArray(data.scrollPage, flipbook.turn("view", page)) == -1) {
            data.scrollPage = page;
            flipbook.turn("page", page);
          }

          if (data.scrollTimer) clearInterval(data.scrollTimer);

          data.scrollTimer = setTimeout(function() {
            data.scrollX = undefined;
            data.scrollPage = undefined;
            data.scrollTimer = undefined;
          }, 1000);
        });

        // Slider

        $("#slider").slider({
          min: 1,
          max: 100,

          start: function(event, ui) {
            if (!window._thumbPreview) {
              _thumbPreview = $("<div />", { class: "thumbnail" }).html(
                "<div></div>"
              );
              setPreview(ui.value);
              _thumbPreview.appendTo($(ui.handle));
            } else setPreview(ui.value);

            moveBar(false);
          },

          slide: function(event, ui) {
            setPreview(ui.value);
          },

          stop: function() {
            if (window._thumbPreview) _thumbPreview.removeClass("show");

            $(".sample-docs").turn(
              "page",
              Math.max(1, $(this).slider("value") * 2 - 2)
            );
          }
        });

        // URIs

        Hash.on("^page\/([0-9]*)$", {
          yep: function(path, parts) {
            var page = parts[1];

            if (page !== undefined) {
              if ($(".sample-docs").turn("is"))
                $(".sample-docs").turn("page", page);
            }
          },
          nop: function(path) {
            if ($(".sample-docs").turn("is")) $(".sample-docs").turn("page", 1);
          }
        });

        // Arrows

        $(document).keydown(function(e) {
          var previous = 37,
            next = 39;

          switch (e.keyCode) {
            case previous:
              $(".sample-docs").turn("previous");

              break;
            case next:
              $(".sample-docs").turn("next");

              break;
          }
        });

        // Create the flipbook

        flipbook
          .turn({
            elevation: 50,
            acceleration: false,
            gradients: true,
            autoCenter: true,
            duration: 1000,
            pages: 8,
            when: {
              turning: function(e, page, view) {
                var book = $(this),
                  currentPage = book.turn("page"),
                  pages = book.turn("pages");

                if (currentPage > 3 && currentPage < pages - 3) {
                  if (page == 1) {
                    book
                      .turn("page", 2)
                      .turn("stop")
                      .turn("page", page);
                    e.preventDefault();
                    return;
                  } else if (page == pages) {
                    book
                      .turn("page", pages - 1)
                      .turn("stop")
                      .turn("page", page);
                    e.preventDefault();
                    return;
                  }
                } else if (page > 3 && page < pages - 3) {
                  if (currentPage == 1) {
                    book
                      .turn("page", 2)
                      .turn("stop")
                      .turn("page", page);
                    e.preventDefault();
                    return;
                  } else if (currentPage == pages) {
                    book
                      .turn("page", pages - 1)
                      .turn("stop")
                      .turn("page", page);
                    e.preventDefault();
                    return;
                  }
                }

                Hash.go("page/" + page).update();

                if (page == 1 || page == pages) $(".sample-docs .tabs").hide();
              },

              turned: function(e, page, view) {
                var book = $(this);

                $("#slider").slider("value", getViewNumber(book, page));

                if (page != 1 && page != book.turn("pages"))
                  $(".sample-docs .tabs").fadeIn(500);
                else $(".sample-docs .tabs").hide();

                book.turn("center");
                updateTabs();
              },

              start: function(e, pageObj) {
                moveBar(true);
              },

              end: function(e, pageObj) {
                var book = $(this);

                setTimeout(function() {
                  $("#slider").slider("value", getViewNumber(book));
                }, 1);

                moveBar(false);
              },

              missing: function(e, pages) {
                for (var i = 0; i < pages.length; i++)
                  addPage(pages[i], $(this));
              }
            }
          })
          .turn("page", 1);

        $("#slider").slider("option", "max", numberOfViews(flipbook));

        flipbook.addClass("animated");

        // Show canvas

        $("#canvas").css({ visibility: "visible" });
      }

      // Hide canvas

      $("#canvas").css({ visibility: "hidden" });

      yepnope({
        test: Modernizr.csstransforms,
        yep: ["/js/turn.min.js", "/css/jquery.ui.css"],
        nope: ["/js/turn.html4.min.js", "/css/jquery.ui.html4.css"],
        both: ["/css/docs.css", "/js/docs.js"],
        complete: loadApp
      });
    </script>
    <script>
      (function (d) {
        var config = {
          kitId: 'gji5frv',
          scriptTimeout: 3000,
          async: true
        },
          h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
      })(document);
    </script>
  </body>
</html>
